*{
    padding: 0px;
    margin: 0px;
}

body{
    margin-top: 100px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 60vh;
    width: 480px;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.con{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.dice{
    margin: 20px;
    
}